In [ ]:
def valid_nim(nim):
    return len(nim) == 11 and nim.isdigit()

def valid_nama(nama):
    return len(nama) >= 6

def valid_alamat(alamat):
    return len(alamat) >= 10

def valid_kelas(kelas):
    return kelas in ["TI23", "TI24"]

def main():
    mahasiswa_list = []
    
    while True:
        print("\nMenu:")
        print("1. Tambah Mahasiswa")
        print("2. Tampilkan Mahasiswa")
        print("3. Keluar")
        
        pilihan = input("Pilih menu (1/2/3): ")
        
        if pilihan == '1':
            nim = input("Masukkan NIM (11 digit): ")
            if not valid_nim(nim):
                print("NIM tidak valid. Harus 11 digit.")
                continue
            
            nama = input("Masukkan NAMA (minimal 6 karakter): ")
            if not valid_nama(nama):
                print("NAMA tidak valid. Minimal 6 karakter.")
                continue
            
            alamat = input("Masukkan ALAMAT (minimal 10 karakter): ")
            if not valid_alamat(alamat):
                print("ALAMAT tidak valid. Minimal 10 karakter.")
                continue
            
            kelas = input("Masukkan KELAS (TI23/TI24): ")
            if not valid_kelas(kelas):
                print("KELAS tidak valid. Hanya boleh TI23 atau TI24.")
                continue
            
            mahasiswa_list.append({
                'NIM': nim,
                'NAMA': nama,
                'ALAMAT': alamat,
                'KELAS': kelas
            })
            print("Data Mahasiswa berhasil ditambahkan.")
        
        elif pilihan == '2':
            if not mahasiswa_list:
                print("Tidak ada data mahasiswa.")
            else:
                print("\nData Mahasiswa:")
                for mhs in mahasiswa_list:
                    print(f"NIM: {mhs['NIM']}, NAMA: {mhs['NAMA']}, ALAMAT: {mhs['ALAMAT']}, KELAS: {mhs['KELAS']}")
        
        elif pilihan == '3':
            print("Keluar dari program.")
            break
        
        else:
            print("Pilihan tidak valid. Silakan pilih menu yang benar.")

if __name__ == "__main__":
    main()

Menu:
1. Tambah Mahasiswa
2. Tampilkan Mahasiswa
3. Keluar

Pilih menu (1/2/3):  2

Tidak ada data mahasiswa.

Menu:
1. Tambah Mahasiswa
2. Tampilkan Mahasiswa
3. Keluar

Pilih menu (1/2/3):  1
Masukkan NIM (11 digit):  12345678998
Masukkan NAMA (minimal 6 karakter):  Ronaldo
Masukkan ALAMAT (minimal 10 karakter):  Bandung be long to us
Masukkan KELAS (TI23/TI24):  TI24

Data Mahasiswa berhasil ditambahkan.

Menu:
1. Tambah Mahasiswa
2. Tampilkan Mahasiswa
3. Keluar

Pilih menu (1/2/3):  1
Masukkan NIM (11 digit):  98765432112
Masukkan NAMA (minimal 6 karakter):  Cristiano
Masukkan ALAMAT (minimal 10 karakter):  Bogor kota hujan
Masukkan KELAS (TI23/TI24):  TI23

Data Mahasiswa berhasil ditambahkan.

Menu:
1. Tambah Mahasiswa
2. Tampilkan Mahasiswa
3. Keluar

Pilih menu (1/2/3):  2

Data Mahasiswa:
NIM: 12345678998, NAMA: Ronaldo, ALAMAT: Bandung be long to us, KELAS: TI24
NIM: 98765432112, NAMA: Cristiano, ALAMAT: Bogor kota hujan, KELAS: TI23

Menu:
1. Tambah Mahasiswa
2. Tampilkan Mahasiswa
3. Keluar