In [3]:
while True:
    print("===== OPSI =====")
    print("1. Tambahkan Data")
    print("2. Tampilkan Data")
    print("3. Exit")

    pilihan = input("Pilih menu (1-3): ")
    
    if pilihan == "1":
        nim = input("Masukkan NIM: ") #bila di setting integer di awal, akan error ketika input bukan int
        nama = input("Masukkan Nama: ")
        alamat = input("Masukkan Alamat: ")
        kelas = input("Masukkan Kelas: ").upper()
            
        if nim.isdigit():
            if len(nama) > 5:
                if len(alamat) > 10:
                    if kelas in ["TI23", "TI24"]:
                        with open("dataMahasiswa.txt", "a") as file:
                            file.write(f"\nNIM = {nim}\nNama = {nama}\nAlamat = {alamat}\nKelas = {kelas}\n")
                    else :
                        print("Kelas harus TI23 atau TI24")
                else : 
                    print("Alamat minimal 10 huruf")
            else :
                print("Panjang Nama minimal 5 huruf")
        else :
            print("NIM bukan Numerik")
    
    elif pilihan == "2":
        try:
            f = open("dataMahasiswa.txt", "r")
            baris = f.read()

        except FileNotFound:
            print("File Tidak Ditemukan!")

        else :
            print(baris)
                
    elif pilihan == "3":
        print("Terima kasih!")
        break
    else:
        print("Pilihan tidak valid.")

===== OPSI =====
1. Tambahkan Data
2. Tampilkan Data
3. Exit

Pilih menu (1-3):  1
Masukkan NIM:  20240040039
Masukkan Nama:  Muhammad Nuriana
Masukkan Alamat:  Kalaparea
Masukkan Kelas:  Ti24A

Alamat minimal 10 huruf
===== OPSI =====
1. Tambahkan Data
2. Tampilkan Data
3. Exit

Pilih menu (1-3):  1
Masukkan NIM:  234049483
Masukkan Nama:  UdinMhhh
Masukkan Alamat:  Sukabumi
Masukkan Kelas:  Ti23

Alamat minimal 10 huruf
===== OPSI =====
1. Tambahkan Data
2. Tampilkan Data
3. Exit

Pilih menu (1-3):  2

NIM = 20240534
Nama = Muhammad Nuriana
Alamat = Kp. Kalaparea
Kelas = TI24

===== OPSI =====
1. Tambahkan Data
2. Tampilkan Data
3. Exit

Pilih menu (1-3):  1
Masukkan NIM:  20230403291
Masukkan Nama:  UdinMamama
Masukkan Alamat:  Sukabumi2323
Masukkan Kelas:  TI24

===== OPSI =====
1. Tambahkan Data
2. Tampilkan Data
3. Exit

Pilih menu (1-3):  2

NIM = 20240534
Nama = Muhammad Nuriana
Alamat = Kp. Kalaparea
Kelas = TI24

NIM = 20230403291
Nama = UdinMamama
Alamat = Sukabumi2323
Kelas = TI24

===== OPSI =====
1. Tambahkan Data
2. Tampilkan Data
3. Exit

Pilih menu (1-3):  3

Terima kasih!